@model NationalAdmissionAgency.Data.Models.Domain.User

@{
    ViewBag.Title = "GetUser";
}

<h2>GetUser</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<div>
    @Html.Partial("~/Views/User/GetApplications.cshtml", Model.Applications)
</div>
           
<div>
    @Html.Partial("~/Views/User/GetUniversities.cshtml", Model.Universities)
</div>
            
                
            
<p>
    @Html.ActionLink("Edit", "UpdateUser", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "GetUsers")
</p>


